<h3><strong><%= current_user.email%></strong></h3>
<h4>Cleaner Index</h4>
<%= render "form" %><br>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone No</th>
            <th>City</th>
            <th>Quentity</th>
            <th colspan="2">Actions</th>
        </tr>
    </thead>
    <tbody class='cleaner-body'>
        <%= render partial: 'cleaner_rows', collection: @cleaners, as: :cleaner%>
    </tbody>
</table>
