<div class="col-md-6">
    <div class="cleaner-form"><%= render "form" %></div><br>
    <div class="edit_cleaner_form"></div>
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone No</th>
                <th>City</th>
                <th>Quentity</th>
                <th colspan="3">Actions</th>
            </tr>
        </thead>
        <tbody class='cleaner-body'>
            <%= render partial: 'cleaner_rows', collection: @cleaners, as: :cleaner%>
        </tbody>
    </table>
    <div id='post-content'></div>
</div>
<br><br>
<%= render partial: 'layouts/footer'%>