
<div class="container">
    <div class="jumbotron col-md-8" id="home">
        <%= @profile.first_name%><br>
        <%= @profile.last_name%><br>
        <%= @profile.address%><br>
        <%= @profile.mobile_no%><br>
    </div>
</div>