<div class="container">
  <div class="jumbotron">
    <h5><strong>City Name: </strong><%= @booking.city.name%><br>
    <strong>Cleaner Firts Name: </strong><%= @booking.cleaner.first_name%><br>
    <strong>Booking Date: </strong><%= @booking.booking_date%></h5>
    <h3>Your Booking is Confirm Successfully........<h3>
  </div>
</div>
