<br>
<div class= 'col-md-6'>
    <div class="city-form"><%= render "form" %></div>
    <div class="edit_city_form"></div>
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th class="city_action">Actions</th>
            </tr>
        </thead>
        <tbody class='city-body'>
            <%= render partial: 'city_rows', collection: @cities, as: :city%>
        </tbody>
    </table>
</div>
<br><br>
<%= render partial: 'layouts/footer'%>