@import "bootstrap";
@import 'bootstrap-datetimepicker';
@import "font-awesome";


h3{ color: green; }
h4{ color: black; font-family: fantasy;}
.error{
    color: red;
}
.table{ 
    margin-left: 45%; 
}
.booking_table{
    margin-left: 0%; 
}
.booking-bg{
    background-color: burlywood;
}
#home{
    background-color:paleturquoise;
    margin-left: 175px;
    text-align: left;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
}
img {
    vertical-align: middle;
}
.card {
    position: relative;
    overflow: hidden;
    padding: 30px 20px;
}
.fa-hand-o-left{
    color: green;
}
.fa-trash {
    color: red;
}
.fa-eye {
    color: blue;
}
.fa-pencil {
    color: black;
}
footer {
    bottom: 50%;
    width: 100%;
    height: 50px;
    background-color: #111;
    text-align: center;
}
.fa-twitter {
    color: #4099FF;
}

.fa-facebook {
    color: #3B5998;
}

.fa-youtube-play {
    color: #e52d27;
}

.fa-linkedin {
    color: #007bb6;
}

.fa {
    opacity: 0.7;
    transition: 1s;
    -webkit-transition: 1s;
}

.fa:hover{
    opacity: 1;
    transition: 1s;
    -webkit-transition: 1s;
}
