<footer class="footer rounded">
    <div class="container-fluied">
            <a href='javascript:void(0)'><i class="fa fa-facebook fa-3x fa-fw"></i></a>
            <a href='javascript:void(0)'><i class="fa fa-twitter fa-3x fa-fw"></i></a>
            <a href='javascript:void(0)'><i class="fa fa-youtube-play fa-3x fa-fw"></i></a>
            <a href='javascript:void(0)'><i class="fa fa-linkedin fa-3x fa-fw"></i></a>
        </span>
    </div>
</footer>
